# Dependencies
node_modules/

# Build outputs
dist/
release/
*.exe
build/

# Environment files
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log
npm-debug.log*

# Cache
.cache/
.parcel-cache/
.eslintcache

# Public
public/uploaded_image*
